<h1> <%= @post.title%> </h1>
<h5> Author: <%= link_to @post.blogger.name, blogger_path(@post.blogger) %>
<h5> Destination: <%= link_to @post.destination.name, destination_path(@post.destination)%>
<p> <%= @post.content%> </p>
<p> Likes: <%= @post.likes%> </p>

<%= button_to "Like", addlike_path(@post)%>

